body {
  background-color: #EAF6F6;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
  text-align: center;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 8px;
}
img {
  height: 150px;
}
